body {
    margin: 0;
    font-family: "Karla", sans-serif;
    background-color: #1F2937;
}
#hero {
    margin-left: 20px;
    margin-top: 80px;
}

#title-one {
    margin-bottom: 0.1px;
    color: white;
    font-weight: 900;    font-size: 60px;
}

#title-two {
    margin: 0px auto;
    color: #4ADF86;
    font-weight: 900;
    font-size: 64px;
}

#slogan {
    margin-top: 1px;
    color: #D5D4D8;
    font-weight: lighter;
    font-size: 20px;
}

#generate-btn {
    padding: 12px 24px;
    background-color: #10B981;
    border: none;
    font-family: "Karla", sans-serif;
    color: #1F2937;
    border-radius: 10px;
    margin: 25px 20px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

#generate-btn:hover {
    background-color: #055138;
    transform: scale(1.03);
}

.horzintal-line {
    border: none;
    height: 1.5px;
    background-color: #2F3E53;
    width: 60%;
    margin: 20px 14px;
}

#passwords {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    margin: 20px 0px 20px 20px;
}

.password {
    background-color: #273549;
    padding: 10px 35px;
    border-radius: 8px;
    color: #55F991;
    font-size: 18px;
    height: 20px;
    width: 160px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.password:hover {
    background-color: #57677e;
}

#pass-length-el {
    font-family: "Karla", sans-serif;
    padding: 4px 8px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: #1F2937;
    border: 1px solid #2F3E53;
    border-radius: 15px;
    color: #55F991;
    width: 230px;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

#error-msg-el{
    font-weight: lighter;
    font-size: 14px;
    color:red;
    font-style: italic;
    margin: 2px 150px 2px 20px;
}
#gen-sec {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}